{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>
		OSORI website Homework
	</title>
	<link rel="stylesheet" href="{% static 'css/board.css' %}">
</head>
<body>
	<div id = "all_body">
		<header>
			<div class = "dongmoon">
				현재시간
				<span id="dpTime">오전 00:00:00</span>	
				동방 문 : <span class="check"> 열림</span>
			</div>

			<h1 class = "logo">
				<a href = "{% url 'article_index' %}">오소리</a>
			</h1>

			<div class = "topmenu">	
				{% if user.is_authenticated %}
				<a href="{% url 'logout' %}" class="top-menu">logout</a>
				{% else %}
				<a href="{% url 'login' %}" class="top-menu">login</a>
				{% endif %}
			</div>
		</header>

		<nav class = "topnav">
			<ul>
				<li>동아리 소개</li>

				<li>
					<span class="dropdown1 drop">프로젝트 팀 내역  
						<div class="dropdown-content1">
							<p class="smenu">진행중인 프로젝트</p>
							<p class="smenu">완료된 프로젝트</p>
						</div>
					</span>
				</li>

				<li>
					<span class="dropdown2 drop"><a href = "{% url 'article_table' %}">게시판</a>
						<div class="dropdown-content2">
							<p class="smenu">공지사항</p>
							<p class="smenu">자유게시판</p>
							<p class="smenu">정보게시판</p>
							<p class="smenu">Q&amp;A게시판</p>
						</div>
					</span>
				</li>
				<li>사진첩</li>
			</ul>
		</nav>

		<br>
		{% block content %}
		{% endblock content %}
		<footer>
			<div class = "copyright">
				COPYRIGHT(C) 2017. All rights reserved by OSORI
			</div>
		</footer>
	</div>
	<script>
		function printTime(){
			 var time =new Date();
			 var now = time.toLocaleTimeString()
			 
			 document.getElementById("dpTime").innerHTML = now;
			  
		}
		window.onload = function() {     // 페이지가 로딩되면 실행
			    printTime();
		}
		setInterval("printTime()",1000);
	</script>
</body>
</html>